.main-content {
  background-color: azure;
  padding-top: calc(var(--header-height, 64px) + var(--tabs-height, 48px));
}

.caipirinha-customizer .ant-card-head-title {
  text-align: center;
}

.ready-drink-selector .ant-card-head-title {
  text-align: center;
}

.centered-input {
  width: 40px !important;
}

.centered-input .ant-input-number-input {
  text-align: center !important;
}

.drinks-section {
  padding: 5px;
  min-height: calc(100dvh - var(--header-height));
}

