.drinks-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: var(--cards-grid-gap);
    padding: var(--cards-container-padding);
}

.drink-card {
  width: var(--drink-card-small-width) !important;
  max-width: var(--drink-card-small-width) !important;
}

/* Modal Content Styles */
.selection-group {
  margin-bottom: 10px;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.selection-group-horizontal{
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 2px;
}

.selection-group h4 {
  margin-bottom: 8px;
  color: #333;
  font-weight: 600;
}

.caipirinha-customizer .ant-card-head-title {
  text-align: center;
}

.ready-drink-selector .ant-card-head-title {
  text-align: center;
}

.drink-card__image-placeholder {
  height: var(--drink-card-image-height);
  background-color: var(--placeholder-bg);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--placeholder-text);
  font-size: 16px;
}

.drink-card__price {
  font-weight: var(--price-font-weight);
  font-size: var(--price-font-size);
  color: var(--price-color);
  text-align: center;
}

.centered-input {
  width: 40px !important;
}

.centered-input .ant-input-number-input {
  text-align: center !important;
}