@import './variables.css';
@import '../layout/components/header/style/header.css';
@import '../layout/components/tabs/style/tabs.css';
@import '../layout/components/carousel/style/carousel.css';
@import '../layout/components/cards/fullCard/style/full-card.css';
@import '../layout/components/cards/card/style/card.css';
@import './components.css';

/* Reset and Global Styles */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

#root {
  width: 100%;
  min-height: 100vh;
  color: var(--header-main-text-color);
  --header-height: 64px;
  --tabs-height: 48px;
}
